.channel-page {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d7cece;
}

.channel-card {
 max-width: 500px;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.channel-card h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.channel-card input,
.channel-card textarea {
  width: 100%;
  margin-bottom: 3rem;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.channel-card textarea {
  resize: none;
  height: 100px;
}

.channel-card button {
  width: 100%;
  padding: 0.75rem;
  background: #262525;
  color: white;
 font-size: large; 
 border: none;
  border-radius: 8px;
  cursor: pointer;
}

.channel-card button:hover {
  opacity: 0.85;
  background-color: rgb(115, 113, 115);
}

.channelDetails .card img {
  width: 100%;          
  max-width: 180px;     
  max-height: 120px;    
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 0 auto 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
