.profile {
  padding: 1rem;
  text-align: left;
  font-family: Arial, sans-serif;

}

.profile h1 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #333;
  font-family:'Times New Roman', Times, serif;
  border: 1px solid;
  text-align: center;
  border-radius: 20px;
  background-color:rgba(242, 241, 242, 0.899);
}

.profile h3{
 border-radius: 100px;
  margin: 0.5rem 0;
  color: #555;
  
}



