/* Page wrapper for Register & SignIn */
.auth-page {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d7cece;
  padding: 2rem;
}

/* Card container for Register & SignIn */
.auth-card {
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Title */
.auth-card h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

/* Input wrapper */
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Labels */
.input-wrapper label {
  font-weight: 500;
  color: #222;
}

/* Inputs */
.input-wrapper input {
  padding: 0.75rem 1rem;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}


/* Button */
.auth-card button {
  width: 100%;
  padding: 0.75rem;
  background-color: #302d2d;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s ease, opacity 0.2s ease;
}

.auth-card button:hover {
  opacity: 0.85;
  background-color: rgb(104, 101, 103);
}

